* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-color: #f4f4f4;
  --dark-color: rgb(12, 11, 11);
}

@font-face {
  font-family: fontMontserrat;
  src: url(./../assets/fonts/Montserrat-Regular.ttf);
}

body {
  font-family: "fontMontserrat", sans-serif !important;
  line-height: 1.6;
}

.navbar-brand,
.drop-toggle {
  color: var(--light-color) !important;
}

.dropdown-menu:focus {
  all: initial;
}

footer {
  padding: 20px;
  margin-top: 40px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.list-item {
  color: var(--dark-color) !important;
  cursor: pointer;
}

.list-items {
  transition: 2s ease-in border-bottom !important;
}

.list-item-down:hover {
  text-decoration: none !important;
  border-bottom: 1px solid var(--dark-color) !important;
  color: var(--dark-color);
}

.list-item-down {
  color: var(--dark-color);
}

.section-header {
  background-color: #f4f4f4;
}

.row-main {
  justify-content: center;
}

.section-header strong {
  color: crimson;
}

@media (max-width: 768px) {
  .column-1 {
    margin-bottom: 25px;
  }
}
