* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-color: #f4f4f4;
  --dark-color: rgb(12, 11, 11);
}

@font-face {
  font-family: fontMontserrat;
  src: url(./../assets/fonts/Montserrat-Regular.ttf);
}

body {
  font-family: "fontMontserrat", sans-serif !important;
  line-height: 1.6;
}

.navbar-brand,
.drop-toggle {
  color: var(--light-color) !important;
}

.dropdown-menu:focus {
  all: initial;
}

footer {
  padding: 20px;
  margin-top: 40px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.list-item {
  color: var(--dark-color) !important;
  cursor: pointer;
}

.list-items {
  transition: 2s ease-in border-bottom !important;
}

.list-item-down:hover {
  text-decoration: none !important;
  border-bottom: 1px solid var(--dark-color) !important;
  color: var(--dark-color);
}

.list-item-down {
  color: var(--dark-color);
}

.section-header {
  background-color: #f4f4f4;
}

.row-main {
  justify-content: center;
}

.section-header strong {
  color: crimson;
}

.btn {
  transition: transform 0.3s ease !important;
}

.btn:hover {
  box-shadow: 0 20px 30px -11px rgb(31 35 65 / 37%);
  transform: translate(0px, -5px);
}

.btn-secondary:hover {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.btn-success:hover {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.column-1 {
  animation: slideFromLeft 1s ease-in-out;
}

.column-2 {
  animation: slideFromRight 1s ease-in-out;
}

.section-header .heading-top {
  animation: slideFromTop 1s ease-in-out;
}

/* Animation */
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .column-1 {
    margin-bottom: 25px;
  }
}
